services:
  - type: web
    name: umu-smartcaf
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        value: umu_smart_caf_secure_key_2025
